name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: /.github/workflows/*.yml
          sparse-checkout-cone-mode: false
      - uses: hirofumi/run-actionlint@ee50a31845315709b1bd54dcfe2a645c7cf9996a # v1.7.7
  rust-versions:
    runs-on: ubuntu-latest
    outputs:
      msrv: ${{ steps.msrv.outputs.detected }}
      rust-toolchain: ${{ steps.rust-toolchain.outputs.detected }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: |
            Cargo.toml
            rust-toolchain.toml
      - id: msrv
        run: echo "detected=$(yq --expression '.package.rust-version' Cargo.toml)" | tee -a "$GITHUB_OUTPUT"
      - id: rust-toolchain
        run: echo "detected=$(yq --expression '.toolchain.channel' rust-toolchain.toml)" | tee -a "$GITHUB_OUTPUT"
  cargo:
    runs-on: ubuntu-latest
    needs: rust-versions
    strategy:
      matrix:
        rust:
          - ${{ needs.rust-versions.outputs.msrv }}
          - ${{ needs.rust-versions.outputs.rust-toolchain }}
    env:
      RUSTFLAGS: -Dwarnings
      RUSTUP_TOOLCHAIN: ${{ matrix.rust }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: rustup component add clippy rustfmt
      - run: cargo version
      - run: cargo fmt --check
      - run: cargo check
      - run: cargo clippy --tests
      - run: cargo test
